{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        #map {
            width: 100%;
            height: 30em;
            /* z-index: 0; */
        }
        #menu {
            padding: 10px;
            z-index: 1;

            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body" style="padding: 0px;" id="map-card-body">
            <div id="map">
                <noscript>
                    <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/pin-s+3FB1CE({{lon}},{{lat}})/{{lon}},{{lat}},6.0,0,0/704x304@2x?access_token=pk.eyJ1IjoidGhlZWwwamEiLCJhIjoiY2piOW1xeTg5MGRpZTJxbm92ZDltZ3l4ZiJ9.2QVq7PY5YiaHrz1ib_oWTg"
                        alt="Map" class="img-fluid">
                    <style>
                        #map {
                            height: auto;
                        }
                        /* Hide layer chooser, if no JS */
                        #menu {
                            display: none;
                        }
                    </style>
                </noscript>
            </div>
            <div id="menu" class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active" id="streets-btn">
                    <input id="streets" type="radio" name="rtoggle" checked=""> Streets
                </label><label class="btn btn-primary" id="satellite-streets-btn"><!-- TODO: Try to set them to different lines -->
                    <input id='satellite-streets' type='radio' name='rtoggle'> Satellite
                </label>
            </div>
        </div>
    </div>

    {# {% if error == 'bogon' %}
        Bogon!
    {% endif %} #}
    
    <div>
        <table class="table">
            <!--<thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                </tr>
            </thead>-->
            <tbody>
                <tr>
                    <th>Hostname</th>
                    <td>
                        {% if hostname %}
                            <a href="https://www.robtex.com/dns-lookup/{{hostname}}">{{hostname}}</a>
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>

                    <th>ISP</th>
                    <td>
                        {% if isp %}
                            {{isp}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                        {% if asn and isp %}
                            (<a href="https://bgp.he.net/AS{{asn}}" target="_blank">AS{{asn}}</a>)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Continent</th>
                    <td>
                        {% if continent %}
                            {{continent}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}   
                    </td>
                    
                    {% if country %}
                        <th>Flag</th>
                        <td>
                            <a href="https://assets.theel0ja.info/node_modules/svg-country-flags/svg/{{country|lower}}.svg">
                                <img alt="Flag of {{country_name}}"
                                    src="https://assets.theel0ja.info/node_modules/svg-country-flags/svg/{{country|lower}}.svg"
                                    class="rounded img-fluid" style="max-width: 35px;" />
                            </a>
                        </td>
                    {% else %}
                        <th></th>
                        <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Country</th>
                    <td>
                        {% if country %}
                            {{country_name}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>
                    
                    <th>Country Code</th>
                    <td>
                        {% if country %}
                            {{country}}{#  (ISO 3166-1 alpha-3) #}<!-- (TODO: set ISO 3166-1 alpha-3 here) -->
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Region</th>
                    <td>
                        {% if region %}
                            {{region}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>
                    
                    <th>Local time</th>
                    <td>
                        {% if local_time %}
                            {{local_time}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>
                        {% if city %}
                            {{city}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}    
                    </td>
                    
                    <th>Latitude</th>
                    <td>
                        {% if lat %}
                            {{lat}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>IP Address<!-- (IPv4)--></th>
                    <td>
                        {% if ip %}
                            {{ip}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>
                    
                    <th>Longitude</th>
                    <td>
                        {% if lat %}
                            {{lon}}
                        {% else %}
                            Unknown<!-- TODO: add styles, etc. to this -->
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="" method="get">
            <div class="form-group row">
                <div class="col-md-3 my-auto">
                    <label for="exampleInputEmail1" style="margin-bottom: 0px;">IP Address/Hostname</label>
                </div>
                <div class="col-md-9 row">
                    <div class="col-md-9">
                        <input name="host" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="exampleInputEmail1">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var loc = {
            lon: {{lon}},
            lat: {{lat}}
        };

        var zoom_level;
        var override_zoom = false;
        var override_zoom_level;
        
        if("{{override_zoom}}" != "") {
            zoom_level = "{{override_zoom}}";
            override_zoom_level = zoom_level;
            override_zoom = true;
        } else {
            // default
            zoom_level = 6;
        }
    </script>
    <script src="/assets/js/templates/index.js"></script>

    <!-- Add zoom controls to map. -->
    <script src="https://cdn.theel0ja.info/libs/mapbox-gl-disable-map-rotation/dist/script.js"></script>
    <link rel="stylesheet" href="https://cdn.theel0ja.info/libs/mapbox-gl-disable-map-rotation/dist/style.css">
    <script>
        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.NavigationControl());

        // Disable map rotation.
        disableMapRotation(map);
    </script>
{% endblock %}
